<h1>restaurant reviews</h1>
<% if @reviews.empty?%>
  <%= 'There are no reviews' %>
<% else %>
  <% @reviews.each do |review| %>
    <%= review.score %>/5 - <%= review.comment %>
  <% end %>
<% end %>
