<p>Add review</p>

<%= form_for :review,  url: restaurant_review_index_path do |f| %>
  Score: <%= f.number_field :score %><br />
  Comment: <%= f.text_area :comment %><br />
  <%= f.submit %>
<% end %>
