<ol>
<% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= restaurant.description %>
    <input type="button" onclick="location.href = '/restaurant/<%= restaurant.id%>';" value="View restaurant" />
  </li>
  <% end %>
</ol>
<% if @restaurants.empty? %>
  <%= "<p>There are no restaurants</p>" %>
<% end %>
