<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, "/restaurant/#{restaurant.id}" %>
  <%= restaurant.description %>
  <br>
  <% end %>

<% if @restaurants.empty? %>
  <%= "<p>There are no restaurants</p>" %>
<% end %>
