<div class="jumbotron">
  <div class="col-xs-12" style="height:100px;"></div>
  <div class="transparent-grey">
    <h1> Welcome to J-EATS </h1>
    <h3> We Supply The Restaurant. You Supply The Smoking Hot Blonde. </h3>
    <div style="height:20px;"></div>
    <% if !current_user %>
      <a class="btn btn-default btn-lg" href='/users/sign_up' role="button">Sign Up</a>
      <a class="btn btn-default btn-lg" href='/users/sign_in' role="button">Sign In</a>
    <% else %>
    <div style="height:50px;"></div>
    <% end %>
  </div>
</div>
